:root {
  --background: #fffbf5;
  --text: #000;
  --accent: #FF5846;
  --ratio: 421 / 130;
  --padding: clamp(1rem, 5.5vw, 8rem);
  --padding-top: calc(var(--padding) * 0.75);
}

@media (max-width: 1024px) {
  :root {
    --padding-top: 3rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background);
  color: var(--text);
}

::selection {
  background: var(--text);
  color: var(--background);
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* for IE only */
  clip-path: inset(50%);
}

svg {
  fill: currentColor;
}


/* Typography */
@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('./AkzidenzGroteskPro-Md.woff2') format('woff2'),
    url('./AkzidenzGroteskPro-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body,
.akzidenz {
  font-family: 'AkzidenzGrotesk';
}

a {
  color: inherit;
}

.huge-heading {
  font-size: max(5rem, 12.7vw);
  /* 184px */
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.05em;
}

@media (max-width: 750px) {
  .huge-heading {
    font-size: 7rem;
  }
}

@media (max-width: 350px) {
  .huge-heading {
    font-size: 5rem;
  }
}

.xlarge-heading {
  font-size: max(3rem, 4.5vw);
  /* 64px */
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.01em;
}


.large-heading {
  font-size: max(2.25rem, 3.6vw);
  /* 52px */
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

@media (max-width: 350px) {
  .large-heading {
    font-size: 2rem;
  }
}

.medium-heading {
  font-size: max(1.75rem, 2.5vw);
  /* 36px */
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.large-body {
  font-size: max(1.5rem, 1.94vw);
  /* 28px */
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.medium-body {
  font-size: max(1.25rem, 1.6vw);
  /* 24px */
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.small-body {
  font-size: max(1.125rem, 1.38vw);
  /* 20px */
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: -0.01em;
}

hr {
  color: inherit;
}

hr.horizontal {
  border: none;
  border-bottom: 3px solid currentColor;
  clip-path: inset(0 100% 0 0);
}

hr.vertical {
  border: none;
  border-left: 3px solid currentColor;
  clip-path: inset(0 0 100% 0);
}

.xsmall-body,
.button,
.header__item,
.header__log-in,
.footer__item {
  font-size: max(1rem, 1.25vw);
  /* 18px */
  text-decoration: none;
  font-weight: 500;
}


.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.44em 0.77em;
  border-radius: 0.44em;
  background: var(--text);
  color: var(--background);

}

.button__text {
  position: relative;
  z-index: 2;
}

.button .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.button:hover .video-background {
  opacity: 0.8;
}




/* ======================== */
/* Header */
/* ======================== */
.header {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.25rem var(--padding);
}

.header {
  @media (max-width: 1024px) {
    display: none;
  }
}

.header__logo {
  width: max(120px, 10vw);
}

.header__logo svg {
  width: 100%;
  height: auto;
}

.header__logo .svg-video__video {
  background: var(--text);
}

.header__logo video {
  width: 100%;
}

.header a {
  text-decoration: none;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style-type: '';
  padding: 0;
}

.header__item a,
.footer__item a {
  position: relative;
}

.header__item a::before,
.footer__item a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.4s ease-out;
}

.header__item a:hover::before,
.footer__item a:hover::before {
  clip-path: inset(0 0 0 0);
}

.header__log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  border: 3px solid var(--text);
  border-radius: 0.6em;
}


.header__log-in a:first-child {
  padding: 0 0.44em;
}

/* ======================== */
/* Page header */
/* ======================== */

.page-header {
  position: relative;
  z-index: 0;
  min-height: calc(100svh - var(--padding) * 2);
  padding: var(--padding);
}

.page-header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: calc(100svh - var(--padding) * 2);
}

.clip-container {
  width: 100%;
  height: 100%;
  clip-path: url(#clip-mask);
}

.page-header__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--padding) * 2);
  z-index: 10;
  outline: 5px solid var(--background);
  outline-offset: -2px;
}

.page-header__overlay::before {
  content: '';
  position: absolute;
  top: -100svh;
  left: -2px;
  right: -2px;
  bottom: 99%;
  background: var(--background);
  z-index: 1;
}

.page-header__overlay::after {
  content: '';
  position: absolute;
  top: 99%;
  left: -2px;
  right: -2px;
  bottom: -100svh;
  background: var(--background);
  z-index: 1;
}

.page-header__overlay svg {
  width: 100%;
  display: block;
}

.overlay-text {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin: 0;
  height: auto;
  overflow: visible;
}

.overlay-text.blurred {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  filter: blur(2px);
  z-index: 1;
}

.page-header canvas {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

@media (hover: none) {
  .page-header canvas {
    animation: fadeOut 0.3s 1.3s ease-out forwards;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.page-header video,
.page-header img {
  position: absolute;
  left: 0;
  width: 100%;
  aspect-ratio: var(--ratio);
  object-fit: cover;
  opacity: 0;
}

.page-header svg {
  fill: none;
}

/* clippath svg */

.clip-text {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -10px;
  left: -10px;
}

#clip-mask {
  --scale: 0.002375;

  transform: scale(var(--scale), calc(var(--scale) * var(--ratio)));
}

/* ======================== */
/* Overlay */
/* ======================== */
.overlay {
  position: relative;
  z-index: 2;
  background: var(--background);
}

/* ======================== */
/* Two Column Text */
/* ======================== */
.two-column-text {
  position: relative;
  z-index: 1;
  background: var(--text);
  color: var(--background);
}


.two-column-text__text {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 3px auto 1fr;
  gap: 0 1rem;
  padding: var(--padding-top) var(--padding);
  z-index: 1;
}

@media (max-width: 750px) {
  .two-column-text__text {
    grid-template-rows: 3px auto auto 1fr;
  }
}

.two-column-text ::selection {
  background: var(--background);
  color: var(--text);
}


.two-column-text__column {
  display: flex;
}

.two-column-text hr {
  grid-column: span 7;
  grid-row: 2;
}

.two-column-text hr+hr {
  grid-column: span 5;
}

@media (max-width: 750px) {
  .two-column-text hr {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .two-column-text hr+hr {
    display: none;
  }
}

.two-column-text__left {
  grid-column: span 7;
  grid-row: 3;

  padding-right: var(--padding);
  padding-top: 1.5rem;
}

@media (max-width: 750px) {
  .two-column-text__left {
    grid-column: 1/-1;
    grid-row: 2;
    padding-right: 0;
  }
}

.two-column-text__body {
  padding-top: 1.5em;
  padding-right: calc(var(--padding) * 2);
}

@media (max-width: 750px) {
  .two-column-text__body {
    padding-right: 0;
  }
}

.two-column-text__right {
  position: relative;
  grid-column: span 5;
  grid-row: 3;
  height: 1.5lh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.5rem;
}

@media (max-width: 750px) {
  .two-column-text__right {
    grid-column: 1/-1;
    align-items: flex-start;
    padding-right: 0;
    height: auto;
  }
}

.two-column-text__number {
  width: 100%;
  text-align: right;
}

@media (max-width: 750px) {
  .two-column-text__number {
    text-align: center;
  }
}

.two-column-text__number h3 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

@media (max-width: 750px) {
  .two-column-text__number h3 {
    justify-content: center;
  }
}

.two-column-text__number .video-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.5em;
  height: 0.5em;
  clip-path: url(#plus-clip);
  background: var(--background);
}

.two-column-text__number .video-mask video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(100% 0 0 0);
}

/* ======================== */
/* Media Text */
/* ======================== */
.media-text {
  background: var(--background);
  color: var(--text);
  position: relative;
  padding: var(--padding);
}

@media (max-width: 1024px) {
  .media-text {
    padding: var(--padding-top) var(--padding);
  }
}

.media-text__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 0 1rem;
}

.media-text__medias {
  position: relative;
  grid-column: span 6;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 1024px) {
  .media-text__medias {
    grid-column: 1 / -1;
  }
}

.media-text__medias .timeline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 4px;
  overflow: hidden;
  margin-top: calc(100% / 16 * 9);
  background: var(--text);
  transform-origin: left;
  clip-path: inset(0 100% 0 0);
}

.media-text__medias .timeline video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.media-text__medias .swiper-wrapper {
  display: flex;
  width: max-content;
}

.media-text__media {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: var(--background);
  z-index: var(--index);
}

.media-text__media.swiper-slide-active {
  opacity: 1 !important;
  animation: clipIn 1s ease-out;
}

@keyframes clipIn {
  from {
    clip-path: inset(100% 0 0 0);
  }

  to {
    clip-path: inset(0% 0 0 0);
  }
}

.media-text__media p {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6em;
}

@media (max-width: 1024px) {
  .media-text__media p {
    font-size: 0.8em;
  }
}

.media-text__media img,
.media-text__media video {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  position: relative;
}

.media-text__text {
  grid-column: span 5 / -1;
}

@media (max-width: 1024px) {
  .media-text__text {
    grid-column: 1 / -1;
    margin-top: var(--padding);
  }
}

.media-text__text .medium-body {
  margin-top: 1.33em;
}

.media-text__text .button {
  margin-top: 1.77em;
}

/* ======================== */
/* Events */
/* ======================== */

.events {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3px auto auto;
  gap: 1rem;
  padding: var(--padding-top) var(--padding);
  background: var(--text);
  color: var(--background);
}



.events hr.horizontal {
  grid-column: span 5;
}

.events hr.horizontal+hr.horizontal {
  grid-column: span 7;
}

@media (max-width: 1024px) {
  .events hr.horizontal {
    grid-column: 1 / -1;
  }

  .events hr.horizontal+hr.horizontal {
    display: none;
  }
}

.events__heading {
  grid-column: span 5;
}

@media (max-width: 1024px) {
  .events__heading {
    grid-column: 1 / -1;
  }
}

.events__events {
  grid-column: span 12;
  margin-top: var(--padding);
}

@media (max-width: 1024px) {
  .events__events {
    display: flex;
    flex-direction: column;
    gap: var(--padding-top);
  }
}

.events__event {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  gap: var(--padding) 1rem;
}

.events__event:hover .event__logo .svg-video__video video {
  opacity: 0.8;
}

.events__event:hover .event__text svg {
  transform: translate(0.1em, -0.1em);
}

.event__logo {
  position: relative;
  grid-column: span 5;
  height: max(50px, 8.8vw);
}

@media (max-width: 1024px) {
  .event__logo {
    grid-column: 1 / -1;
  }
}

.event__logo a {
  display: block;
  height: 100%;
  width: 100%;
}

.event__logo .svg-video__video {
  aspect-ratio: var(--ratio);
  height: 100%;
  width: unset !important;
}

@media (max-width: 1024px) {
  .event__logo .svg-video__video video {
    opacity: 0.8;
  }
}

.event__logo svg {
  width: auto;
  height: 100%;
}

.event__text {
  grid-column: span 7;
  padding-left: var(--padding-top);
}

@media (max-width: 1024px) {
  .event__text {
    grid-column: 1 / -1;
    padding-left: 0;
  }
}

.event__text a {
  text-decoration: none;
}

.event__text a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.event__text svg {
  width: 0.38em;
  height: auto;
  transition: transform 0.4s ease-out;
}

.event__text p {
  margin-top: 1.16em;
}



/* ======================== */
/* Three columns */
/* ======================== */


.three-columns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 1rem;
  padding: var(--padding);

  @supports (grid-template-rows: subgrid) {
    grid-template-rows: 3px auto auto auto;
  }
}

@media (max-width: 1024px) {
  .three-columns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: var(--padding-top);
  }
}

.three-columns__column {
  grid-column: span 4;
  max-width: 90%;
  justify-items: start;

  @supports (grid-template-rows: subgrid) {
    display: grid;
    grid-gap: 0;
    grid-template-rows: subgrid;
    grid-row: 1 / -1;
  }
}

@media (max-width: 1024px) {
  .three-columns__column {
    grid-column: span 12;
    display: block;
    grid-template-rows: unset;
    max-width: 100%;
  }
}

.three-columns__column hr {
  width: 100%;
}

.three-columns__column:nth-child(2) {
  justify-self: center;
}

.three-columns__column:nth-child(3) {
  justify-self: end;
}

.three-columns__heading {
  margin-top: 0.88em;
}

.three-columns__column .p {
  margin-top: 1.16em;
}

.three-columns__column .button {
  margin-top: 1.77em;
}

/* ======================== */
/* CTA */
/* ======================== */

.cta {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: calc(var(--padding) * 2) var(--padding);
  min-height: 75svh;
  align-items: center;
}

.cta__text {
  grid-column: span 4;
}

@media (max-width: 1024px) {
  .cta__text {
    grid-column: 1 / -1;
  }
}

.cta__text .large-heading {
  text-wrap: balance;
}

.cta__text .button {
  margin-top: 1.77em;
}

.cta__media-trail {
  grid-column: span 7;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cta__media-trail img,
.cta__media-trail video {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform;
  transform: scale(0);

  display: block;
  width: auto;
  height: max(100px, 9.7vw);
}




/* ======================== */
/* Scroll trigger clippers */
/* ======================== */

.clipper {
  position: relative;
  z-index: 1;

  hr {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: var(--background);
  }
}

/* ======================== */
/* Footer */
/* ======================== */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: calc(var(--padding) / 2) var(--padding) 1rem;
  background: var(--text);
  color: var(--background);
}

.footer svg,
.header__logo svg {
  fill: currentColor;
}

.footer a {
  text-decoration: none;
}

.footer__link {
  display: inline-block;
}

.footer__logo {
  position: relative;
}

.footer__logo svg {
  width: max(120px, 10vw);
  height: auto;
}

.footer__logo video,
.footer__item video {
  width: 100%;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  margin-top: var(--padding);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style-type: '';
  padding: 0;
  grid-column: span 2;
}

.footer__list:first-child {
  grid-column: span 3;
}

.footer__list:last-child {
  grid-column: span 4;
}


.footer__list svg {
  height: max(20px, 2vw);
  width: auto;
}

/* ======================== */
/* SVG Video */
/* ======================== */
.svg-video a {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.svg-video a:hover .svg-video__video video {
  opacity: 0.8;
}

.svg-video a:hover svg {
  opacity: 0;
}

.svg-video__video {
  background: var(--background);
}

.svg-video .svg-video__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: var(--ratio);
  display: block;
}

.svg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.svg-video--pdc .svg-video__video {
  clip-path: url(#pdc-clip);
}

.svg-video--pdg .svg-video__video {
  clip-path: url(#pdg-clip);
}

.svg-video--ipdw .svg-video__video {
  clip-path: url(#ipdw-clip);
}

.svg-video--pd360 .svg-video__video {
  clip-path: url(#pd360-clip);
}


/* ======================== */
/* Scroll trigger stagger texts */
/* ======================== */

.st-stagger-text {
  opacity: 0;
  animation: fadeIn 0s 0.15s ease-in-out forwards;
}

.st-stagger-text .line {
  clip-path: inset(-5%);
}

.st-stagger-text .line:first-child {
  clip-path: inset(-1.5rem -5%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes auto-slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% + 100vw - 1rem));
  }
}

.clip-mask {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -10px;
  left: -10px;
}

.clip-mask--pdc {
  --scale: 0.007139;
}

.clip-mask--pdg {
  --scale: 0.0046;
}

.clip-mask--ipdw {
  --scale: 0.00427;
}

.clip-mask--pd360 {
  --scale: 0.00332;
}

.clip-mask--plus {
  --ratio: 1/1;
  --scale: 0.01;
}



.clip-mask clipPath {
  transform: scale(var(--scale), calc(var(--scale) * var(--ratio)));
}